html{
    scroll-behavior: smooth;
}
*{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}
/*----Color----*/
:root{
    --first-color:#0046FF;
    --second-color:#000000;
    --third-color:#575757;
    --fourth-color:#D5E1FF;
    --fifth-color:#ECECEC;
}

body{
    height: 100vh;
    margin: 0;
    font-family:'Poppins';
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

img{width: 100%;
}



a{
    color: white;
}
/*----Navigation----*/
header{
    background: var(--first-color);
    padding: 1em;
    position: fixed;
    width: 100%;
    z-index:3;
}


header ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: var(--first-color);
}

header ul a{
    display: block;
    padding: 20px;
}

header ul a:hover{
    background: rgba(26, 26, 253, 0.397);
    transition: ease-in .4s;
}

.logo{
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    display: block;
    font-size: 2em;
    padding: 10px 20px;
}

header .menu{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

header .menu-icon .nav-icon{
    background: white;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

header .menu-icon .nav-icon:before{
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

header .menu-icon .nav-icon:after{
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

header .menu-btn{
    display: none;
}

header .menu-btn:checked ~ .menu{
    max-height: 250px;
}
header .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}
header .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top:0;
}
header .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
}




.arrow span{
    display: block;
    width: 1rem;
    height: 1rem;
    margin-top: 20px;
    border: 2px solid transparent;
    border-right-color: var(--first-color);
    border-bottom-color: var(--first-color) ;
    transform: rotate(45deg);
    animation: arrow-down .5s alternate infinite;
}
@keyframes arrow-down {
    0%{
        opacity: 0;
    }
    25%{
        opacity: .25;
    }
    50%{
        opacity: .5;
    }
    75%{
        opacity: .75;
    }
    100%{
        opacity: 1;
    }        
    }

    @media (min-width:48em) {
        header li{
            float: left;
        }
        header li a{
            padding: 20px 30px;
        }
        header .menu{
            clear: none;
            float: right;
            max-height: none;
        }
        header .menu-icon{
            display: none;
        }

    }