html{
    scroll-behavior: smooth;
}
*{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}
/*----Color----*/
:root{
    --first-color:#0046FF;
    --second-color:#000000;
    --third-color:#575757;
    --fourth-color:#D5E1FF;
    --fifth-color:#ECECEC;
}

body{
    height: 100vh;
    margin: 0;
    font-family:'Poppins';
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

img{width: 100%;
}



a{
    color: white;
}
/*----Navigation----*/
header{
    background: white;
    padding: 1em;
    position: fixed;
    width: 100%;
    z-index:1;
}


header ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #ffffff;
}

header ul a{
    color: var(--first-color);
    display: block;
    padding: 20px;
}

header ul a:hover{
    border-radius: 50px;
    padding: 10px;
    background: rgba(26, 26, 253, 0.397);
    transition: ease-in .5s;
}

.logo{
    color: var(--first-color);
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    display: block;
    font-size: 2em;
    padding: 5px 19px;
    margin-left: 10px;
}


header .menu{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

header .menu-icon .nav-icon{
    background: rgb(0, 0, 0);
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

header .menu-icon .nav-icon:before{
    background: rgb(0, 0, 0);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

header .menu-icon .nav-icon:after{
    background: rgb(0, 0, 0);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

header .menu-btn{
    display: none;
}

header .menu-btn:checked ~ .menu{
    max-height: 250px;
}
header .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}
header .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top:0;
}
header .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
}

.hero{
    display: grid;
    text-align: center;
    padding: 2.3em;
    padding-top: 150px;
}
.hero .h1{
    color: var(--first-color);
    font-size: 25px;
}

.hero .h2{
    position: relative;
    color: white;
    font-size: 25px;
    -webkit-text-stroke: 0.1vw rgb(255, 255, 255);
}
.hero h4{
    padding: 10px;
    margin-top: 50px;
    font-weight: 400;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    border-left: solid var(--first-color) 3px;
    padding: 10px;
    margin-top: 50px;
}

.hero .h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--second-color);
    -webkit-text-stroke: 0vw  rgb(228, 227, 227);
    border-right: 1px solid black;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate{
    0%,15%,30%,45%,50%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
.herodesign{
    display: none;
}
.eu{
    display: none;
}
.me{
    margin-top: 80px;
    border-radius: 300px;
    height: 200px;
    width: 200px;

}
.button-contact{
    color: var(--first-color);
    font-weight: 600;
    position: absolute;
    top: 87.5%;
    left: 7.5%;
    padding: 5px 9px;
    background: var(--fourth-color);
    border-radius: 0; 
}
.button-contact:hover{
    background-color: var(--first-color);
    color: rgb(255, 255, 255);
    transition: ease-in .7s;
}
.button-project{
    color: var(--first-color);
    font-weight: 600;
    position: absolute;
    top: 88%;
    left: 60%;
}
.arrow{
    position: absolute;
    top: 85.5%;
    left: 53%;
}

.arrow span{
    display: block;
    width: 1rem;
    height: 1rem;
    margin-top: 20px;
    border: 2px solid transparent;
    border-right-color: var(--first-color);
    border-bottom-color: var(--first-color) ;
    transform: rotate(45deg);
    animation: arrow-down .4s alternate infinite;
}
@keyframes arrow-down {
    0%{
        opacity: 0;
    }
    25%{
        opacity: .25;
    }
    50%{
        opacity: .5;
    }
    75%{
        opacity: .75;
    }
    100%{
        opacity: 1;
    }        
    }

/*----About me----*/

#aboutme{
    padding: 8em 2.1em;
    margin-top:40px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 19%, rgba(213,213,213,0.8914916308320203) 51%, rgba(240,240,240,1) 84%, rgba(255,255,255,1) 100%);
    justify-items: center;
    text-align: left;
}
.herodesign1{
    display: none;
}
.title{
    margin-bottom: 30px;
    font-size: 30px;
}
.title span{
    color: var(--first-color);
    font-weight: 300;
}
.subcontent{
    font-weight: bold;

}
.description{
    margin-top: 50px;
    font-weight: 300;
    color: var(--third-color);
}
.about-social{
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
}
/*----Portofolio----*/
#myprojects{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 19%, rgba(213,213,213,0.8914916308320203) 51%, rgba(240,240,240,1) 84%, rgba(255,255,255,1) 100%);
    padding: 1em 2.1em;
}
.subtitle{
    font-size: 20px;
    font-weight: bold;
}
.subtitle2, .subtitle3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 2em;
}
.car,.ballet,.swing{
    margin-bottom: 2em;
}
.portofolio-container a img{
    border-radius: 1em;
    margin-bottom: 2em;
}
.img1{
    border-radius: 1em;
    margin-bottom: 2em;
}
.button-more{
    color: var(--first-color);
    font-weight: 600;
    position: relative;
    top: 87.5%;
    left: 23.5%;
    padding: 5px 9px;
    background: var(--fourth-color);
    border-radius: 0; 
}
.button-more:hover{
    background-color: var(--first-color);
    color: rgb(255, 255, 255);
    transition: ease-in .7s;
}
/*----Skills*----*/
#myskills{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 19%, rgba(213,213,213,0.8914916308320203) 51%, rgba(240,240,240,1) 84%, rgba(255,255,255,1) 100%);
}
.skill-container h2{
    padding: 1em 1.2em;
}
.skill-container ul li{
    background:var(--fourth-color);
    text-align: center;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
}
.skill-container .icon-container{
    height: 50px;
    font-size: 80px;
    display: grid;
    place-content: center;
    margin: 0 auto;
}
.skill-title{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    color: var(--second-color);
}

/*----Footer----*/

.footer-container{
    background: #2A3B47;
    padding: 1em 2.1em;   
    row-gap: 2rem;  
}
.footer-container a {
    color: var(--fifth-color);
}
.footer-container h2{
    color: var(--fifth-color);
}
.footer-title{
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
}
.footer-data li a{
    display: block;
    margin-bottom: 5px;
    color: rgb(167, 167, 167);
}
.footer-data li a:hover{
    color: var(--fifth-color);
}

.footer-title1{
    font-size: 25px;
    margin-top: 35px;
    margin-bottom: 10px;
    font-weight: bold;
}
.footer-data1 i{
    position: block;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    background:rgb(255, 255, 255);
    line-height: 40px;
    text-align: center;
    font-size: 28px;
    border-radius: 20px;
}
.footer-data1 i:hover{
    background: rgb(197, 197, 197);
    transition: ease-out .3s;
}
.footer-data1 .text{
    font-size: 18px;
    color:  rgb(167, 167, 167);
    margin-left: 5px;
}

.footer-title2{
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 35px;
    font-weight: bold;
}
.footer-social{
    font-size: 1.8rem;
    margin-right: 10px;
}
.footer-data p{
    margin-top: 10px;
    font-size: 18px;
    color:rgb(167, 167, 167) ;
}
.footer-social i{
    height: 40px;
    width: 40px;
    background:rgb(255, 255, 255);
    line-height: 40px;
    text-align: center;
    font-size: 28px;
    border-radius: 20px;
}
.footer-social i:hover{
    background: rgb(197, 197, 197);
    transition: ease-out .3s;

}

    @media (min-width:1280px) {
        header{
            padding: 1em 1em 1em 4em;
        }
        header li{
            float: left;
        }
        header li a{
            padding: 20px 30px;
        }
        header .menu{
            clear: none;
            float: right;
            max-height: none;
        }
        header .menu-icon{
            display: none;
        }
        header .logo{
            margin-left: 1.9em;
            letter-spacing: 4px;
        }
            .hero{
            height: 90vh;
            display: grid;
            grid-template-columns: 66% auto;
            padding: 5em;
            padding-top: 12em;
            margin-left: 3.9em;
            text-align: left;
        }
        
        .hero .h1{
            font-size: 55px;
            font-weight: 300;
        }
        .hero .h2{
            font-size: 55px;
            font-weight: bold;
            -webkit-text-stroke: 0.1vw rgb(243, 242, 242);
        }
        
        .hero h4{
            font-weight: 300;
            font-size: 25px;
        }

        .hero h4{
            box-sizing: border-box;
            width: 90%;
            border-left: solid var(--first-color) 3px;
            padding: 5px;
            margin-top: 100px;
        }
        @keyframes animate{
            0%,5%,10%,20%,100%{
                width: 0;
            }
            50%,70%,90%{
                width: 80%;
            }
        }
        .button-contact{
            top: 87%;
            left: 9.3%;
        }
        .button-project{
            top: 87.7%;
            left: 28%;
        }
        .arrow{
            top: 84.9%;
            left: 26%;
        }
        .me{
            margin-top: 100px;
            height: 350px;
            width: 350px;
        }
    
        .herodesign{
            display: unset;
            margin-left: 55%;
            margin-top: -120%;
            width: 50%;
        }
        #aboutme{
            padding: 8em 9em;
        }
        .title{
            font-size: 50px;
        }
        .subcontent{
            font-size: 20px;
        }
        .description{
            font-size: 20px;
            text-align: left;
        }
        .about-social{
            font-size: 50px;
            text-align: left;
        }
        #myprojects{
            padding: 1em 9em;
        }
        .portofolio-container img{
            max-width: 700px;
        }
        .img1{
            max-width: 700px;
            float: right;
            position: relative;
            bottom: 250px;
        }
        .img2{
            float: left;
            position: relative;
            bottom: 400px;
        }
        .img3{
            float: right;
            position: relative;
            bottom:600px;
        }
        .car{
            display: inline-block;
            margin-right: 70%;
        }
        .subtitle2{
            display: inline-block;
            text-align: right;
            margin-left: 75%;
        }
        .swing{
            display: inline-block;
            text-align: left;
            margin-left: 75%;
        }
        .subtitle3{
            display: inline-block;
            margin-right: 70%;
        }
        .ballet{
            display: inline-block;
            margin-right: 70%;
        }
        .button-more{
            position: relative;
            top: 100px;
            left: 40%;
            font-size: 20px;
            padding: 10px 15px;
        }
        #myskills{
            padding: 50em 5.5em;
        }
